{% extends 'base.html' %}

{% block head %}
    <title>Student Mentor Sytem</title>
{% endblock %}

{% block body %}
    <p>
        <h1>Welcome To Student Mentor System!</h1>
        <br>
    </p>
    <form>
        <label>Username :</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required>
        <br>
        <br>
        <label>Password :</label>
        <input type="password" id="password" name="passsword" placeholder="Enter Password" required>
        <br>
        <br>
        <button type="submit">Login</button>
    </form>
    <br>
    
    Click <a href="{{ url_for('signup_page') }}">here</a> If you Don't Have a Account

{% endblock %}